footer {
    background-color: $color-black;
    color: $color-white;

    a {
        color: $color-white;
        font-weight: 700;
    }

    .footer-links {
        margin-bottom: 2rem;
    }

    .footer-links ul > li {
        font-size: 1em;
        line-height: 1.563;
    }

    .subscribe-header {
        font-size: 1em;
        line-height: 1.5;
    }

    .footer-subscribe {
        position: relative;
        margin-top: 30px;

        input {
            font-weight: 700;
            color: $color-white;
            margin: 0 auto;
            padding: 1rem 0;
            border-radius: 0;
            width: 100%;
            background-color: $color-black;
            border: 0;
            border-bottom: 2px solid $color-white;

            &::placeholder {
                color: $color-white;
                font-size: 1rem;
            }
        }
    }

    .email-container {
        margin-bottom: 3rem;

        button {
            position: absolute;
            width: 40px;
            height: 40px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            right: 0;
            top: 0;
            background-color: #4368e8;
            border-radius: 100%;
            border: 0 none;
            outline: 0 none;
            overflow: hidden;

            &::before {
                content: " ";
                display: block;
                position: absolute;
                left: 1px;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: #fff;
                text-indent: -999999px;
                -webkit-mask-image: url(/assets/images/icons/right-arrow.svg);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-position: center center;
            }

            &::after {
                left: -100%;
                background-color: #4368e8;
            }
        }
    
    }

    .email-text {
        font-weight: 700;
        margin-top: 1rem;
        height: 53px;
        padding-top: 0;
        font-size: 1em;
        line-height: 1.688;
        border-bottom: 2px solid $color-white;
    }

    .affiliate-text {
        font-size: .8rem;
    }

    .partner-logo {
        margin-bottom: 1.75rem;
    }

    .partner-logo > img {
        width: 107px;
        height: auto;
    }

    .footer-icons {
        margin-bottom: 1rem;

        ul {
            display: flex;
            width: 100%;
            justify-content: center;

            li {
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .footer-icon {
        height: 1.1rem;
        width: auto;
    }

    .credit > a, .credit {
        font-size: .7rem;
        line-height: 1.545;
        letter-spacing: .3px;
        color: $color-copyright-gray;
        text-align: center;
    }
}

