.hero {
    overflow: hidden;
}

.hero-body {
    margin-bottom: 2rem;
    width: 100vw;
    
    @include desktop {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.hero-subtitle {
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    color: #000;
    line-height: 125%;
    letter-spacing: -0.01em;
    margin-bottom: 1.5rem;

    @include desktop {
        font-size: 35px;
        margin-left: 3.5rem;
        text-align: left;
        width: fit-content;
    }
}

.hero-title {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.01em;
    line-height: 63px;

    @include desktop {
        font-size: 74px;
        text-align: left;
        width: fit-content;
    }
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        margin-bottom: 4rem;
    }
}

.hero-highlight {
    background-color: $color-purple;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.hero-spacer {
    display: block;
    height: 1.25rem;
    width: auto;

    @include desktop {
        height: 1.5rem;
    }
}

.chevron-down {
    height: 2.25rem;
    width: 2.25rem;
    background-color: #ECEFFC;
    border-radius: 50%;
    padding: 5px;
    transform: translate(-88px, 223px);
    
    &:hover {
        cursor: pointer;
    }

}

.masonry {
    display: flex;
    flex-flow: column wrap;
    gap: var(--hero-masonry-gap);
    box-sizing: border-box;
    width: calc(100vw - var(--hero-masonry-gap));
    height: 19rem;
    
    @include desktop {
        height: 52rem;
        width: 54rem;
        transform: translateY(-$navbar-height);
        z-index: 100;
    }
    
    .brick {
        opacity: 0;
        width: 33%;
        box-sizing: border-box;
        flex: auto;

        &.fade-in-1, 
        &.fade-in-2, 
        &.fade-in-3,
        &.fade-in-4 {
            animation: fadeIn $hero-image-fade-in-time;
            -webkit-animation: fadeIn $hero-image-fade-in-time;
            -moz-animation: fadeIn $hero-image-fade-in-time;
            -o-animation: fadeIn $hero-image-fade-in-time;
            -ms-animation: fadeIn $hero-image-fade-in-time;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        &.fade-in-1 {
            animation-delay: 0.5s;
        }

        &.fade-in-2 {
            animation-delay: 1.5s;
        }

        &.fade-in-3 {
            animation-delay: 2.5s;
        }

        &.fade-in-4 {
            animation-delay: 3.5s;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &.top {
            background-position: top;
        }
    }

    &.top {
        .brick {
            // setting heights so they meet evenly at the bottom
            &:nth-child(1) {
                height: calc(40% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(2) {
                height: calc(60% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(3) {
                height: calc(50% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(4) {
                height: calc(50% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(5) {
                height: calc(30% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(6) {
                height: calc(70% - #{var(--hero-masonry-gap)});
                // width: calc(30% - #{var(--hero-masonry-gap)});
            }
        }
    }

    &.bottom {
        .brick {
            // setting heights so they meet evenly at the bottom
            &:nth-child(1) {
                height: calc(60% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(2) {
                height: calc(40% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(3) {
                height: calc(50% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(4) {
                height: calc(50% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(5) {
                height: calc(35% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(6) {
                height: calc(65% - #{var(--hero-masonry-gap)});
            }
        }
    }

    &.desktop {
        .brick {
            // setting heights so they meet evenly at the bottom
            // COLUMN 1
            &:nth-child(1) {
                height: calc(22% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(2) {
                height: calc(18% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(3) {
                height: calc(40% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(4) {
                height: calc(20% - #{var(--hero-masonry-gap)});
            }

            // COLUMN 2
            &:nth-child(5) {
                height: calc(28% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(6) {
                height: calc(28% - #{var(--hero-masonry-gap)});
            }
            &:nth-child(7) {
                height: calc(20% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(8) {
                height: calc(24% - #{var(--hero-masonry-gap)});
            }

            // COLUMN 3
            &:nth-child(9) {
                height: calc(17% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(10) {
                height: calc(28% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(11) {
                height: calc(17% - #{var(--hero-masonry-gap)});
            }

            &:nth-child(12) {
                height: calc(38% - #{var(--hero-masonry-gap)});
            }
        }
    }
}
