// navbar
.navbar {
    display: flex;
    justify-content: space-between;
    height: $navbar-height;

    @include desktop {
        background-color: transparent;
        z-index: 500;
    }
}

.navbar-brand {
    align-items: center;
}

.navbar-item {
    padding-left: 1.5rem;
}

.navbar-item img {
    max-height: 3rem;
    transform: translateX(-25px);
}

.logo-divider {
    border-left: 1px solid #000;
    height: 2rem;
    position: absolute;
    left: 139px;

    @include desktop {
        height: 1.7rem;
        left: 146px;
    }
}

.nav-header {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    width: 7rem;
    line-height: 1.1;
    transform: translateX(-25px);
    letter-spacing: -0.02em;

    @include desktop {
        width: auto;
    transform: translateX(-12px);

    }
}

.nav-button {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: $color-purple !important;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    height: $navbar-height;
    width: 6rem;
    text-decoration: none;

    @include desktop {
        position: relative;
        border-radius: 5px;
        width: 98px;
        height: 50px;
        margin-right: 2rem;
    }

    @include widescreen {
        margin-right: 4rem;
    }
}
