.sidebar-timeline {
    display: none;
    position: absolute;
    right: 100%;
    
    line-height: 1.8;
    transform: translate(-50px, 0px);
    height: 50395px;

    

    @include fullhd {
        display: block;

        @media (min-height: 810px) {
            line-height: 2.0;
        }

        @media (min-height: 950px) {
            line-height: 2.2;
        }
    }

    li {
        &.active > a {
            color: $color-blue;
            font-weight: 700;
        }
        
        a {
            color: $color-gray;
            text-decoration: none;
        } 
    }

    .sticky-container {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }

    
}

