.sidebar-timeline {
    display: flex;
    flex-direction: column;
    //position: absolute;
    position: sticky;
    top: 1vh;
    left: 1vh;
    line-height: 1.8;
    // transform: translate(-50px, 0px);
    height: 100%; // important for stopping at the footer!
    overflow: scroll;

    @include fullhd {
        //display: block;
        position: sticky;

        @media (min-height: 810px) {
            line-height: 2.0;
        }

        @media (min-height: 950px) {
            line-height: 2.2;
        }

    }

    ul {
    
    }

    li {
        &.active > a {
            color: $color-blue;
            font-weight: 700;
        }
        
        a {
            color: $color-gray;
            text-decoration: none;
        } 
    }

    .sticky-container {
        position: -webkit-sticky;
        position: sticky;
        top: 1vh;

    }

    
}

