.timeline-header {
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    margin-bottom: 1.5rem;

    @include desktop {
        // font-size: 2.75rem;
        font-size: 3rem;
        letter-spacing: -0.03em;
        margin-left: 2rem;
        margin-bottom: 3rem;
    }

    &.white {
        color: $color-white;
    }
}

.highlight-now {
    background-position: -100% !important;
}

.accent {
    display: none;
    padding-right: 15px;

    @include desktop {
        display: block;
    }

    &.accent-blue {
        background-color: $color-accent-blue;
    }

    &.blue {
        background-color: $color-blue;
    }

    &.tan {
        background-color: $color-tan;
    }

    &.light-beige {
        background-color: $color-light-beige;
    }

    &.light-beige2 {
        background-color: $color-light-beige_2;
    }

    &.darker-blue {
        background-color: $color-darker-blue;
    }
}

.highlight {
    padding: 0.1rem 0.25rem 0 0.25rem;

    @include desktop {
        padding: 0.3rem 0.25rem 0.3rem 0.25rem;
    }
}

.divider {
    border: 1px solid $color-accent-blue;

    @include desktop {
        max-width: 1152px;
        margin: 0 auto;
    }
}

.seal-right-up {
    transform: translate(47px, -48px);
}

.seal-right {
    transform: translateX(47px);
}

.quote-container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 1rem;
    grid-template-areas:
        'open-quote quote close-quote'
        ' . quote-source . ';

    @include desktop {
        padding: 0 0.75rem;
        margin: 0 1.5rem 3rem 2rem;
    }
}

.open-quote {
    grid-area: open-quote;
    align-self: flex-start;
    width: 2.5rem;

    @include desktop {
        width: 3.2rem;
        // transform: translateX(0px);
        transform: translate(-2px, -7px);
    }

    &-svg {
        &.accent-blue {
            color: $color-accent-blue;
        }

        &.light-beige {
            color: $color-light-beige;
        }
    }
}

.quote {
    padding: 0;
    grid-area: quote;
    color: $color-blue;
    font-size: 1.2rem;
    line-height: 1.4;

    @include desktop {
        font-size: 1.5rem;
    }
}

.close-quote {
    grid-area: close-quote;
    align-self: flex-end;
    width: 2.5rem;
    transform: translateX(-15px);

    @include desktop {
        width: 3.2rem;
        transform: translateX(0px);
    }

    &-svg {
        &.accent-blue {
            color: $color-accent-blue;
        }

        &.light-beige {
            color: $color-light-beige;
        }
    }
}

.quote-source {
    grid-area: quote-source;
    text-transform: uppercase;
    color: $color-gray;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0;
    line-height: 1.5;

    @include desktop {
        padding-left: 0.75rem;
        margin-top: 1.5rem;
        padding-left: 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @include desktop {
        flex-direction: column;
        width: 22rem;
    }

    &.row {
        @include desktop {
            flex-direction: row;
            width: 100%;
        }

        .header-icon {
            width: 19rem;
        }

        .timeline-header {
            text-align: left;
            padding: 0 2.5rem 0 0;
            max-width: 36rem;
            line-height: 1.3;
        }
    }

    &.width-36rem {
        @include desktop {
            width: 36rem;
        }
    }

    .header-icon {
        padding: 1.3rem;

        @include desktop {
            padding: 1.5rem;
        }

        img {
            height: auto;
            max-width: 5rem;

            @include desktop {
                max-width: 100%;
            }
        }
    }

    .timeline-header {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        padding-right: 2.5rem;

        @include desktop {
            font-size: 1.5rem;
            line-height: 1.3;
            text-align: center;
            padding: 0 2rem 2rem;
        }

        &.large-font {
            font-size: 1.6rem;
        }
    }
}

.year-dropdown .select:not(.is-multiple):not(.is-loading)::after {
    // remove bulma icon
    display: none;
}

.year-dropdown {
    margin-bottom: 3rem;

    select {
        font-size: 1.25rem;
        font-weight: 400;
        color: $color-black;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $color-purple;
    }

    .icon img {
        height: 2rem;
        width: auto;
        position: absolute;
        top: 11px;
    }
}

.year-header {
    scroll-margin-top: 115px;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    color: $color-purple;
    line-height: 0.8rem;
    letter-spacing: -0.01em;
    margin: 3rem 0;

    @include desktop {
        font-size: 3.75rem;
        margin: 6.75rem 0;
        margin-left: 5.5rem;
    }
}

.header-icon-solo {
    width: 80px;
    margin-bottom: 1rem;

    @include desktop {
        width: 29rem;
        margin-left: 2rem;
    }
}

.eyebrow {
    display: flex;
    width: fit-content;
    padding-right: 7px;
    align-items: center;
    margin-bottom: 2rem;

    @include desktop {
        margin-bottom: 5rem;
    }

    &.light-beige {
        background-color: $color-light-beige  !important;
    }

    &-header {
        display: inline;
        padding: 0.1rem 0 0 0.5rem;
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        line-height: 0;

        @include desktop {
            font-size: 1rem;
            padding: 0.2rem 0.3rem 0 0.8rem;
        }

        &.black {
            color: $color-black  !important;
        }

        &.blue {
            color: $color-blue  !important;
        }
    }

    &-dot {
        width: 1.25rem;
        height: 1.25rem;

        @include desktop {
            width: 2rem;
            height: 2rem;
        }

        &.blue {
            background-color: $color-blue  !important;
        }

        &.tan {
            background-color: $color-tan  !important;
        }
    }
}

.timeline-image {
    .height-450px {
        @include desktop {
            height: 450px !important;
        }
    }

    &.width-240rem {
        @include desktop {
            width: 240rem !important;
            height: auto !important;
        }
    }

    &.overflow-image {
        @include desktop {
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: -100%;
                left: 0;
                right: 0;
                bottom: -100%;
                margin: auto;
            }
        }
    }

    &.height-480px {
        height: 480px;
    }

    &.height-550px {
        height: 550px;
    }

    &.height-614px {
        height: 614px;
    }
}

.timeline-subheader {
    color: $color-black;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    @include desktop {
        font-size: 1.7rem;
        margin-left: 2rem;
        margin-bottom: 4rem;
        line-height: 1.4;
    }
}

.timeline-description {
    font-size: 0.9rem;
    color: $color-gray;
    line-height: 1.4 !important;
    letter-spacing: -0.01em;
    margin-top: 1.5rem;

    @include desktop {
        font-size: 1.1rem;
        line-height: 1.6 !important;
        padding: 0 1.5rem;
        margin: 0 0 0 0.5rem;
    }
}

.timeline-victory-seal {
    width: 5rem;
    height: auto;
    margin-top: -1rem;
    margin-left: auto;

    @include desktop {
        width: 7rem;
    }

    img {
        width: 100%;
    }
}

.description-bullet {
    height: 0.65rem;
    width: 0.65rem;
    margin-right: 0.2rem;
    display: inline-block;
    position: relative;
    top: 1px;

    @include desktop {
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
    }
}

.content-container {
    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.timeline-block {
    padding: 1.75rem 0 2rem 0;

    @include desktop {
        display: flex;
        flex-direction: row;
        max-width: 1152px;
        padding: 0;
        margin: 0 auto !important;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    &-sub-container {
        width: 100%;
        // max-width: 100%;
        padding: 1rem 0 0 0;

        @include desktop {
            padding: 5rem 5rem 2.5rem 3.5rem;
        }

        .block-full-image & {
            @include desktop {
                padding-bottom: 1rem;
            }
        }
    }
}

.block-black {
    background-color: $color-black;

    img {
        @include touch {
            width: 25rem;
            margin: 0 auto;
        }
    }

    .timeline-header {
        color: $color-white;
        line-height: 1.2;
    }

    .eyebrow {
        background-color: $color-black;
        width: fit-content;
        margin-bottom: 4rem;
        border: 1px solid $color-white;
    }

    .eyebrow-header {
        color: $color-white;
    }

    .eyebrow-dot {
        background-color: $color-white;
    }

    .timeline-subheader {
        color: $color-white;
    }

    .timeline-description {
        color: $color-accent-blue;
    }

    .highlight {
        font-style: italic;
        font-weight: 700;
        color: $color-white;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-black 50%, $color-blue 50%); // bg color, highlight color
        background-position: 0;
        background-size: 200%;
        transition: all $text-highlight-time;
        transition-timing-function: ease-in;
    }

    .description-bullet {
        background-color: $color-blue;
    }
}

.block-beige {
    background-color: $color-light-beige;

    .timeline-header {
        color: $color-black;

        @include desktop {
            // width: 36rem;
            margin-top: 1rem;
            margin-left: 2rem;
            line-height: 1.2;
        }

        &.max-width-58rem {
            max-width: 58rem;
        }
    }

    .timeline-subheader {
        @include desktop {
            // width: 36rem;
            margin-left: 2rem;
            line-height: 1.3;
        }
    }

    img {
        &.height-25rem {
            @include desktop {
                height: 25rem;
                width: auto;
            }
        }

        &:nth-child(2) {
            margin-left: 0.75rem;

            @include touch {
                width: 20rem;
                margin: 2rem 0 0 0;
            }
        }
    }

    .highlight {
        color: $color-white;
        font-weight: 700;
        color: $color-light-beige;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-light-beige 50%, $color-blue 50%); // bg color, highlight color
        background-position: 0;
        background-size: 200%;
        transition: all $text-highlight-time;
        transition-timing-function: ease-in;
        
    }

    .eyebrow {
        background-color: $color-white;
    }

    .eyebrow-header {
        color: $color-black;
    }

    .eyebrow-dot {
        background-color: $color-tan;
    }

    .description-bullet {
        background-color: $color-blue;
    }
}

.block-beige-full-image {
    background-color: $color-light-beige;

    strong {
        color: $color-black;
    }

    .header-container {
        background-color: $color-accent-blue;

        .timeline-header {
            color: $color-blue;

            .highlight {
                color: $color-white;
                background-color: $color-blue;
                // padding: .1rem .25rem 0 .25rem;
            }
        }
    }

    .eyebrow {
        background-color: $color-white;
        margin-bottom: 2rem;

        @include desktop {
            margin-top: 5rem;
            margin-left: 3.5rem;
        }

        &-header {
            color: $color-black;
        }

        &-dot {
            background-color: $color-blue;
        }
    }

    .timeline-description {
        color: $color-gray;

        @include desktop {
            margin: 3rem 0 3rem 5rem;
            padding: 0 4rem 0 0;
        }
    }

    .description-bullet {
        background-color: $color-blue;
    }

    .timeline-header {
        color: $color-black;

        @include desktop {
            margin: 4rem 0 0 5rem;
            line-height: 1.2;
        }
    }

    .timeline-image {
        height: inherit;
        width: inherit;

        img {
            @include desktop {
                height: 100%;
                width: 155rem;
                background-size: cover;
            }
        }
    }

    .timeline-subheader {
        color: $color-black;

        @include desktop {
            margin: 4rem 0 0 5rem;
            padding-right: 4rem;
        }
    }
}

.block-beige2 {
    background-color: $color-light-beige_2;

    .header-container {
        background-color: $color-light-beige;

        .timeline-header {
            color: $color-blue;

            .highlight {
                color: $color-light-beige;
                font-weight: 700;
                background-image: linear-gradient(to right, $color-light-beige 50%, $color-blue 50%); // bg color, highlight color
                background-position: 0;
                background-size: 200%;
                transition: all $text-highlight-time;
                transition-timing-function: ease-in;
            }
        }
    }

    .timeline-header {
        color: $color-black;
    }

    .eyebrow {
        background-color: $color-white;
        margin-bottom: 2rem;

        @include desktop {
            margin-bottom: 4rem;
        }
    }

    .eyebrow-header {
        color: $color-black;
    }

    .eyebrow-dot {
        background-color: $color-tan;
    }

    .description-bullet {
        background-color: $color-blue;
    }
}

.block-blue {
    background-color: $color-blue;

    strong {
        color: $color-white;

        &.accent-blue {
            color: $color-accent-blue;
        }
    }

    img {
        @include desktop {
            height: 100%;
            width: 75rem;
            background-size: cover;
        }
    }

    .header-container {
        background-color: $color-accent-blue;

        .timeline-header {
            color: $color-blue;

            .highlight {
                color: $color-accent-blue;
                font-weight: 700;
                background-image: linear-gradient(to right, $color-accent-blue 50%, $color-blue 50%); // bg color, highlight color
                background-position: 0;
                background-size: 200%;
                transition: all $text-highlight-time;
                transition-timing-function: ease-in;
            }
        }
    }

    .eyebrow {
        background-color: $color-blue;
        margin-bottom: 2rem;
        border: 1px solid $color-white;

        @include desktop {
            margin-bottom: 4rem;
        }

        &-header {
            color: $color-white;
        }

        &-dot {
            background-color: $color-white;
        }
    }

    .timeline-description {
        color: $color-accent-blue;
    }

    .description-bullet {
        background-color: $color-accent-blue;
    }

    .timeline-header {
        color: $color-white;

        @include desktop {
            color: $color-white;
            margin: 4rem 3rem 0 2rem;
            line-height: 1.2;
        }
    }

    .timeline-image {
        height: inherit;
        width: inherit;
    }

    .timeline-subheader {
        color: $color-white;

        @include desktop {
            margin: 2rem 3rem 4rem 2rem;
        }
    }
}

.block-blue-full-image {
    background-color: $color-blue;

    strong {
        color: $color-white;
    }

    img {
        @include desktop {
            height: 100%;
            width: 75rem;
            background-size: cover;
        }
    }

    .header-container {
        background-color: $color-accent-blue;

        .timeline-header {
            color: $color-blue;

            .highlight {
                color: $color-white;
                background-color: $color-blue;
                // padding: .1rem .25rem 0 .25rem;
            }
        }
    }

    .eyebrow {
        background-color: $color-blue;
        margin-bottom: 2rem;
        border: 1px solid $color-white;

        @include desktop {
            margin-top: 5rem;
            margin-left: 3.5rem;
        }

        &-header {
            color: $color-white;
        }

        &-dot {
            background-color: $color-white;
        }
    }

    .timeline-description {
        color: $color-accent-blue;
    }

    .description-bullet {
        background-color: $color-accent-blue;
    }

    .timeline-header {
        color: $color-white;

        @include desktop {
            color: $color-white;
            margin: 4rem 3rem 0 5.5rem;
            line-height: 1.2;
        }
    }

    .timeline-image {
        height: inherit;
        width: inherit;
    }

    .timeline-subheader {
        color: $color-white;

        @include desktop {
            margin: 2rem 3rem 0 5.5rem;
        }
    }
}

.block-white {
    background-color: $color-white;

    .header-container {
        background-color: $color-accent-blue;

        .timeline-header {
            color: $color-blue;

            @include desktop {
                padding: 0 2rem 0;
            }
        }
    }

    .highlight {
        color: $color-black;
        font-weight: 700;

        &.blue {
            color: $color-accent-blue; 
            font-weight: 700;
            background-image: linear-gradient(to right, $color-accent-blue 50%, $color-blue 50%); // bg color, highlight color
            background-position: 0;
            background-size: 200%;
            transition: all $text-highlight-time;
            transition-timing-function: ease-in;
        }
    }

    .eyebrow {
        background-color: $color-accent-blue;
    }

    .eyebrow-header {
        color: $color-blue;

        &.black {
            color: $color-black;
        }
    }

    .eyebrow-dot {
        background-color: $color-blue;
    }

    .description-bullet {
        background-color: $color-blue;
    }

    .timeline-subheader {
        margin-bottom: 3rem;

        &.width-43rem {
            @include desktop {
                width: 43rem;
            }
        }

        &.width-46rem {
            @include desktop {
                width: 46rem;
            }
        }
    }

    .timeline-victory-seal {
        @include desktop {
            transform: translate(51px, 37px);
        }

        &.right {
            @include desktop {
                transform: translate(-41px, 120px);
            }
        }
    }

    .quote-container+.timeline-victory-seal {
        @include desktop {
            float: right;
            transform: translate(51px, -15px);
            margin-top: -4rem;
        }
    }
}

.block-white-full-image {
    background-color: $color-white;

    strong {
        color: $color-black;
    }

    img {
        width: 15rem;

        @include desktop {
            height: 100%;
            width: 35rem;
            background-size: cover;
        }
    }

    .header-container {
        background-color: $color-accent-blue;
    }

    .highlight {
        color: $color-black;
        background-color: $color-accent-blue;
        font-weight: 700;
        padding: 0.1rem 0.25rem 0 0.25rem;

        @include desktop {
            // padding: 0.2rem 0.25rem 0.1rem 0.25rem;
        }

        &.blue {
            color: $color-white;
            background-color: $color-blue;
        }
    }

    .eyebrow {
        background-color: $color-accent-blue;
        margin-bottom: 2rem;

        @include desktop {
            margin-top: 5rem;
            margin-left: 3.55rem;
        }

        &-header {
            color: $color-blue;
        }

        &-dot {
            background-color: $color-blue;
        }
    }

    .timeline-description {
        color: $color-accent-blue;
    }

    .description-bullet {
        background-color: $color-accent-blue;
    }

    .timeline-header {
        color: $color-black;

        @include desktop {
            margin: 4rem 3rem 0 5.5rem;
            line-height: 1.2;
        }
    }

    .timeline-image {
        height: inherit;
        width: inherit;
    }

    .timeline-subheader {
        color: $color-black;

        @include desktop {
            margin: 2rem 3rem 0 5.5rem;
        }
    }
}

.layout1 {
    .timeline-header {
        @include desktop {
            width: 100%;
            margin-left: 2rem;
            margin-bottom: 4rem;
        }
    }
}

.layout2 {
    .header-container {
        margin-top: -6rem;
    }
}

.flex-30-70 {
    >div:first-child {
        width: 22rem;
        align-self: flex-start;
    }

    >div:last-child {
        width: 36rem;
        margin-left: 4rem;
    }
}

.flex-70-30 {
    >div:first-child {
        width: 36rem;
        margin-right: 4rem;
    }

    >div:last-child {
        width: 22rem;
        align-self: flex-start;
    }
}

.flex-75-25 {
    >div:first-child {
        width: 38rem;
        margin-right: 4rem;
    }

    >div:last-child {
        width: 20rem;
        align-self: flex-start;
    }
}

.photo-credits-text {
    color: $color-gray;
    font-size: 1.1rem;
    margin: 2rem 0;
    line-height: 1.4;

    @include desktop {
        font-size: 1.2rem;
        margin: 4rem 0;
    }
}

.image-group {
    height: 250px !important;

    >div {
        flex: 1;
        overflow: hidden;
    }

    >div>img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    @include tablet {
        height: 400px !important;
    }

    .tablet-position-1 {
        @include tablet {
            object-position: 50% -36px;
        }
    }

    .tablet-position-2 {
        @include tablet {
            object-position: 50% -29px;
        }
    }

    .tablet-position-3 {
        @include tablet {
            object-position: 50% -31px;
        }
    }

    .tablet-position-4 {
        @include tablet {
            object-position: 50% -56px;
        }
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    animation: elementReveal $element-reveal-time;
    -webkit-animation: elementReveal $element-reveal-time;
    -moz-animation: elementReveal $element-reveal-time;
    -o-animation: elementReveal $element-reveal-time;
    -ms-animation: elementReveal $element-reveal-time;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}