.line-height-wide {
    line-height: 1.4 !important;
}

.line-height-wider {
    line-height: 1.5 !important;
}

.flex-7 {
    flex: 7;
}

.fit {
    object-fit: cover;
}

.fit-left {
    object-position: left;
}

.fit-top {
    object-position: top;
}

.font-size-large {
    font-size: 1.75rem !important;
}

.pb-5rem {
    @include desktop {
        padding-bottom: 5rem !important;
    }
}

.w-85 {
    @include desktop {
        width: 85% !important;
    }
}

.height-30rem {
    height: 30rem !important;
}

.height-32rem {
    height: 32rem !important;
}

.height-35rem {
    height: 35rem !important;
}

.height-37rem {
    height: 37rem !important;
}

.width-36rem {
    width: 36rem !important;
}

.ml-4rem {
    margin-left: 4rem !important;
}

.mb-4rem {
    margin-bottom: 4rem !important;
}

.mb-5rem {
    margin-bottom: 5rem !important;
}

.height-100 {
    height: 100% !important;
}

.height-250px {
    height: 250px !important;
}

.height-340px {
    height: 340px !important;
}

.height-530px {
    height: 530px !important;
}

.height-550px {
    height: 550px !important;
}

.height-646px {
    height: 646px !important;
}

.height-680px {
    height: 680px !important;
}

.width-100 {
    width: 100% !important;
}

.width-459px {
    width: 459px !important;
}

.width-750px {
    width: 750px !important;
}

.width-5rem {
    width: 5rem !important;
}

.width-7rem {
    width: 7rem !important;
}

.width-8rem {
    width: 8rem !important;
}

.width-11rem {
    width: 11rem !important;
}

.width-15rem {
    width: 15rem !important;
}

.width-16rem {
    width: 16rem !important;
}

.width-18rem {
    width: 18rem !important;
}

.width-19rem {
    width: 19rem !important;
}

.width-21rem {
    width: 21rem !important;
}

.width-25rem {
    width: 25rem !important;
}

.width-28rem {
    width: 28rem !important;
}

.width-30rem {
    width: 30rem !important;
}

.width-32rem {
    width: 32rem !important;
}

.width-37rem {
    width: 37rem !important;
}

.width-45rem {
    width: 45rem !important;
}

.width-50rem {
    width: 50rem !important;
}

.width-70rem {
    width: 70rem !important;
}

.width-73rem {
    width: 73rem !important;
}

.width-75rem {
    width: 75rem !important;
}

.width-107rem {
    width: 107rem !important;
}

.width-323rem {
    width: 323rem !important;
}

.width-one-quarter {
    width: 25% !important;
}

.mt-neg6rem {
    margin-top: -6rem !important;
}

.mt-neg4rem {
    margin-top: -4rem !important;
}

.mt-neg3rem {
    margin-top: -3rem !important;
}

.mb-neg63px {
    margin-bottom: -63px !important;
};

.mr-7rem {
    margin-right: 7rem !important;
}

.mt-neg5rem {
    margin-top: -5rem !important;
}

.transformX-40px {
    transform: translateX(40px);
}

.transformX-neg97px {
    transform: translateY(-97px);
}

.with-gap {
    gap: .75rem;
}