$color-purple: #5860f4;
$color-light-beige: #f8f7f0;
$color-light-beige_2: #f0efe8;
$color-tan: #dc9d7e;
$color-accent-blue: #eceffc;
$color-blue: #4368e8;
$color-darker-blue: #294ECE;
$color-gray: #808080;
$color-light-gray: #eceffc;
$color-white: #fff;
$color-black: #000;
$color-copyright-gray: rgba(255, 255, 255, 0.5);

$hero-image-reveal-time: 1s;
$element-reveal-time: 1s;
$text-highlight-time: 1.5s;

$navbar-height: 4.5rem;

:root {
    --hero-masonry-gap: 0.4rem;

    @include desktop {
        --hero-masonry-gap: 0.6rem;
    }
}


html {
    scroll-behavior: smooth;

    @include touch {
        overflow: none;
    }
}

body {
    font-family: aktiv-grotesk, sans-serif;
}

.container {
    position: relative;
    padding: 0 1.5rem;

    @include desktop {
        padding: 0;
        background-color: transparent;
        max-width: 1152px !important;
    }
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: $color-purple;
    line-height: 1.1;
    letter-spacing: -0.01em;
    margin: 3rem 0 1rem 0;
    // padding: 0 1.25rem;

    @include desktop {
        font-size: 2.8rem;
        line-height: 1.2;
        margin: 3rem 7rem 1rem;
        padding: 0;
    }
}

.subtext {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin: 3rem 0 4rem 0;
    // padding: 0 1.25rem;

    @include desktop {
        margin: 3rem 7rem 4rem;
        padding: 0;
        font-size: 28px;
        line-height: 1.4;
    }
}

.summary-block {
    background-color: $color-light-beige;
    // padding: 0 1.5rem;

    @include desktop {
        padding: 5rem 5rem 2rem 5rem;
        margin-bottom: 5.5rem;
    }
}

.victory-seal {
    height: auto;
    width: 6rem;
    margin: 0 auto 0 auto;
    padding: 3rem 0 1.5rem 0;

    @include desktop {
        width: 8rem;
        padding: 0 0 1rem 0;
    }
}

.victory-header {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    color: $color-purple;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 3rem 0 2rem 0;

    @include desktop {
        font-size: 2.75rem;
        margin: 3rem 7rem 1rem;
    }
}
