<!-- Render raw html from .html files -->
{% if this_block.relative_path contains '.html' %}
  {{ this_block.content }}
{% endif %}

{% comment %} Render output markdown from .md files {% endcomment %}
{% if this_block.relative_path contains '.md' %}
<div class="timeline-this_block {{ this_block.style.background | default: 'this_block-blue' }}" data-year="{{ year }}">
  <div class="container">
    <div class="is-flex">
      <div class="accent {{ this_block.style.accent | default: 'darker-blue' }}"></div>
      <div class="timeline-this_block-sub-container is-hidden-desktop">
        <div class="eyebrow">
          <div class="eyebrow-dot"></div>
          <div class="eyebrow-header">{{ this_block.eyebrow-header | default: "Add eyebrow-header"}}</div>
        </div>
        <div class="timeline-generated-touch {{ this_block.style.classes.mobile | default: "reveal" }}">
          {{ this_block.output }}
        </div>
      </div>

      <div class="timeline-this_block-sub-container is-hidden-touch">
        <div class="eyebrow">
          <div class="eyebrow-dot"></div>
          <div class="eyebrow-header">{{ this_block.eyebrow-header | default: "Add eyebrow-header"}}</div>
        </div>
        <div class="timeline-generated-desktop {{ this_block.style.classes.desktop | default: "reveal" }} ">
          {{ this_block.output }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}