<style type="text/css">
  @font-face {
    font-family: aktiv-grotesk;
    src: url('/assets/fonts/AktivGrotesk-Bold.woff2') format('woff2'),
         url('/assets/fonts/AktivGrotesk-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: aktiv-grotesk;
    src: url('/assets/fonts/AktivGrotesk-Regular.woff2') format('woff2'),
         url('/assets/fonts/AktivGrotesk-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
  }
</style>
