            <div class="column is-full footer-icons">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/innocenceproject/" target="_blank">
                            <img loading="lazy" class="footer-icon" src="{{ site.baseurl }}/assets/images/icons/facebook-logo.svg" alt="Facebook logo" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/innocence" target="_blank">
                            <img loading="lazy" class="footer-icon" src="{{ site.baseurl }}/assets/images/icons/twitter-logo.svg" alt="Twitter logo" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/innocenceproject/" target="_blank">
                            <img loading="lazy" class="footer-icon" src="{{ site.baseurl }}/assets/images/icons/ig-logo.svg" alt="Instagram logo" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@innocence" target="_blank">
                            <img loading="lazy" class="footer-icon" src="{{ site.baseurl }}/assets/images/icons/tiktok-logo.svg" alt="Tiktok logo" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/innocenceproject" target="_blank">
                            <img loading="lazy" class="footer-icon" src="{{ site.baseurl }}/assets/images/icons/youtube-logo.svg" alt="Youtube logo" />
                        </a>
                    </li>
                </ul>
            </div>
