<section>
  <div class="container">
    <h2 class="subtitle">Realizing the power of DNA testing in ending wrongful convictions, Barry Scheck and Peter
      Neufeld founded the Innocence Project as a law clinic at the Benjamin N. Cardozo School of Law in 1992.</h2>

    <p class="subtext">The Innocence Project has since become an independent nonprofit and continues to stand at the
      vanguard of criminal legal system reform by restoring freedom for the wrongfully convicted, transforming the
      systems that unfairly incarcerated them, and advancing the innocence movement.</p>

    <div class="summary-block">
      <div class="victory-seal">
        <img loading="lazy" src="/assets/images/icons/CollaborativeVictory_Icon.png"
          alt="Collaborative Victory" />
      </div>
      <h2 class="victory-header mt-0 px-6">Collaborative Victory</h2>
      <p class="subtext px-5 pb-6 mt-0">Much of our work has been done in conjunction with Innocence Network
        organizations, lawyers, exonerees, and/or other key partners. Those collaborations are marked with a
        "Collaborative Victory" symbol.</p>
    </div>
  </div>
</section>