<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% include fonts.html %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <meta property="og:image" content="{{ site.preview-image }}">
    <meta property='og:title' content='Innocence Project - History of Impact'/>
    <meta property='og:description' content='Realizing the power of DNA testing in ending wrongful convictions, Barry Scheck and Peter Neufeld founded the Innocence Project as a law clinic at the Benjamin N. Cardozo School of Law in 1992.'/>
    <meta property='og:url' content='https://history.innocenceproject.org/'/>

    <meta name="twitter:card" content="{{ site.preview-image }}">
    <meta name="twitter:site" content="@innocence">
    <meta name="twitter:title" content="Innocence Project - History of Impact">
    <meta name="twitter:description" content="Realizing the power of DNA testing in ending wrongful convictions, Barry Scheck and Peter Neufeld founded the Innocence Project as a law clinic at the Benjamin N. Cardozo School of Law in 1992.">
    <meta name="twitter:creator" content="@innocence">
    <meta name="twitter:image" content="{{ site.preview-image }}">
    <meta name="twitter:domain" content="https://history.innocenceproject.org/">

    <script src="main.js" defer></script>
    {% seo %}
    {% include analytics.html %}
</head>