<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://innocenceproject.org/">
      <img src="{{ site.baseurl }}/assets/images/logo-white.jpg" />
    </a>
    <div class="logo-divider"></div>
    <h1 class="nav-header">History of Impact</h1>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary nav-button" href="https://innocenceproject.org/donate/">
          <p>Donate</p>
        </a>
      </div>
    </div>
  </div>
</nav>