<div class="social-container is-hidden-fullhd">
    <div>Share</div>
    <div class="social-icon-container">
        <a href="{{ site.data.social-links.facebook.share-url }}" target="{{ site.data.social-links.facebook.target }}">
            <div class="circle">
                <img src="{{ site.data.social-links.facebook.icon-blue }}" alt="Facebook icon">
            </div>
        </a>
    </div>
    <div class="social-icon-container">
        <a href="{{ site.data.social-links.twitter.share-url }}" target="{{ site.data.social-links.twitter.target }}">
            <div class="circle">
                <img src="{{ site.data.social-links.twitter.icon-blue }}" alt="Twitter icon">
            </div>
        </a>
    </div>
    <div class="social-icon-container">
        <a href="{{ site.data.social-links.linkedin.share-url }}" target="{{ site.data.social-links.linkedin.target }}">
            <div class="circle">
                <img src="{{ site.data.social-links.linkedin.icon-blue }}" alt="Linkedin icon">
            </div>
        </a>
    </div>
</div>

<div class="widescreen-social-wrapper">
    <div class="social-container widescreen hidden">
        <div>Share</div>
        <div class="social-icon-container">
            <a href="{{ site.data.social-links.facebook.share-url }}" target="{{ site.data.social-links.facebook.target }}">
                <div class="circle">
                    <img src="{{ site.data.social-links.facebook.icon-blue }}" alt="Facebook icon">
                </div>
            </a>
        </div>
        <div class="social-icon-container">
            <a href="{{ site.data.social-links.twitter.share-url }}" target="{{ site.data.social-links.twitter.target }}">
                <div class="circle">
                    <img src="{{ site.data.social-links.twitter.icon-blue }}" alt="Twitter icon">
                </div>
            </a>
        </div>
        <div class="social-icon-container">
            <a href="{{ site.data.social-links.linkedin.share-url }}" target="{{ site.data.social-links.linkedin.target }}">
                <div class="circle">
                    <img src="{{ site.data.social-links.linkedin.icon-blue }}" alt="Linkedin icon">
                </div>
            </a>
        </div>
    </div>
</div>

