<!DOCTYPE html>
<html>
{% include head.html %}
{% include liquid_variables.liquid %}
<body>
  {% include navbar.html %}
  {% include hero.html %}
  {% include founding-summary.html %}
  <section id="timeline" class="timeline">
    {% include sidebar.html %}
    
    {% for year in timeline_years %}
      {% assign loop_index = forloop.index | minus: 1 %}
      {% assign header_style = timeline_year_header[loop_index] %}
      {% include year-header.html year=year %}
      {% assign year_blocks = site.timeline | where: 'year', year %}
      {% for block in year_blocks %}
        {% include block.html %}
      {% endfor %}
    {% endfor %}

    {{ content }}
  </section>
  {% include footer.html %}
</body>
</html>